<!-- Display student data table -->
<br>
<a href="/return-deshboard" ><i class="	fa fa-angle-double-left" aria-hidden="true" style="font-size:25px;color: white;padding:10px;margin:10px;border:1px solid black;background:blue">Return</i></a>
<br><br>
<h3>{{title}}</h3><br>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Student Name</th>
            <th>Parent Name</th>
            <th>Mobile Number</th>
            <th>Email ID</th>
            <th>Address</th>
            <th>Remark / Note</th>
            
           
            
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.studentName}}</td>
            <td>{{this.parentName}}</td>
            <td>{{this.phoneNumber}}</td>
            <td>{{this.email}}</td>
            <td>{{this.address}}</td>
            <td>{{this.remark}}</td>
            
            
            
            <td>
                
                <a href="/admission-inq/delete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                 
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>